.main-layout header ul {
  display:flex;
}

.main-layout header ul li {
  list-style: none;
  padding: 1rem;
}

.greenBG {
  background: green;
  color: #fff;
  font-size:2rem;
}

.redBG {
  background: red;
  color: #fff;
  font-size:2rem;
}